body {
  width: 960px;
  margin: 0px auto;
  background-color: #F7F7F8;
  color: rgb(20, 49, 110);
  font-family: 'Merriweather', serif;
}

header {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 6em;
  font-weight: bold;
  font-family: 'Concert One', cursive;
  /* Font renders EXTREMELY low, compensate */
}

h2 {
  margin: 2em auto 2em;
  font-size: 1.8em;
}

main {
  width: 100%;
}

main p {
  text-align: center;
  font-size: 1.3em;
}

main section {
  /* height: 470px; */
}

main div {
  float: right;
  width: 300px;
  padding: 10px;
  height: 450px;
  line-height: 450px;
}

main div img {
  max-width: 300px;
  max-height: 400px;
  vertical-align: middle;
}

button {
  font-family: 'Lato', sans-serif;
  background-color: white;
  border: 2px solid #3A4866;
  border-radius: 5px;
}

main div button {
  margin-left: 50px;
  width: 200px;
  height: 30px;
  transform: translate(0px, -230px);
}

main p:nth-of-type(2) {
  margin: 1em 0 1em;
}

table {
  margin: 0 0 1em;
  border: 1px solid #566A96;
  border-spacing: 2px;
  background-color: #183770;
  border-collapse: separate;
}

th, td {
  border: 1px solid #566A96;
  background-color: #F7F7F8;
}

main > button {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 1.6em;
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
